@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --font-sans: var(--font-sans, sans-serif);
}

@font-face {
  font-family: "Digital-7";
  src: url("/fonts/digital-7-mono.ttf") format("truetype");
  font-weight: normal;
  font-style: monospace;

  @theme {
    --font-digital: "Digital-7";
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-gray: #1d1b1e;
    --color-light-gray: #afafb8;
    --color-light-gray-hover: #818188;
    --color-primary-red: #e62200;
    --color-primary-red-hover: #a11800;
    --color-primary-green: #3eb489;
    --color-primary-green-hover: #2d9473;
    --color-primary-purple-light: #8b5aff;
    --color-primary-purple: #5a2a67;
    --color-primary-purple-hover: #401d4c;
    --color-primary-yellow: #fbbf24;
    --color-primary-yellow-hover: #f59e0b;
  }
}

body {
  font-family: var(--font-sans);
  background-color: var(--black);
  color: var(--white);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
