@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --font-sans: var(--font-sans, sans-serif);
}

@font-face {
  font-family: "Digital-7";
  src: url("/fonts/digital-7-mono.ttf") format("truetype");
  font-weight: normal;
  font-style: monospace;

  @theme {
    --font-digital: "Digital-7";
  }
}

body {
  font-family: var(--font-sans);
  background-color: var(--black);
  color: var(--white);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
